@use './scss/' as *;

html {
  // background-color: lightgrey; //100% verticle view

  body {
    // background-color: blue;

    .App {
      // background-color: blue;
      width: 100%;
      height: 100vh;
      .navbar {
        background-color: orange;
      }

      .splash {
        //home is the splash page//
        // background-color: red;
        height: 100%;

        .splash_title_div {
          // background-color: gold;
          display: flex;
          height: 15%;
          width: 100%;

          .splash_title {
            // background-color: aqua;
            height: 100%;
            width: 50%;
            padding-top: 3%;
            h1 {
              font-size: 34px;
              padding-left: 10%;
            }
          }

          .splash_nav {
            display: flex;
            justify-content: space-around;
            margin-left: auto;
            margin-right: 8%;
            padding-top: 3%;
            .splah_nav_link {
              margin: 0 20px;
              // border: 1px solid black;
            }
          }
        } // closing splash_title_div

        &__title-container {
          margin: 0 auto;
          width: 45rem;
          height: 50%;
          margin-top: -6rem;
        }

        &__title {
          text-align: center;
          font-size: 3.25rem;
        }

        .splash_main_div {
          // background-color: lime;
          display: flex;
          width: 100%;
          height: 85%;

          .splash_main_left {
            // background-color: red;
            width: 50%;

            h1 {
              margin: 40% 0;
              padding-left: 20%;
              text-align: left;
            }
          }

          .splash_main_right {
            // background-color: pink;
            padding: 40px;
            width: 50%;

            .authform {
              background-color: lightgrey;
              margin: 0 auto;
              width: 33rem;
              // width: 95%;
              // height: 95%;
              // border-radius: 20px;
              border: 1px black solid;
              display: flex;
              flex-direction: column;
              margin-left: 10%;
              // flex-wrap: wrap;

              .login_div {
                // background-color: green;
                margin: 0 auto 0 auto;
                width: 80%;
                // height: 100%;
                display: flex;
                flex-wrap: wrap;

                .login_header {
                  // background-color: red;
                  width: 100%;
                  margin: 15% 0 0 0;
                  padding: 0 0 20% 0;
                  h3 {
                    text-align: center;
                    font-size: 24px;
                  }
                }

                .login_form {
                  // background-color: darkorange;
                  margin: 0 auto 0 auto;
                  // padding-top: 50px;
                  width: 70%;
                  height: 80%;
                  display: flex;
                  flex-direction: column;
                  // top: 50px;
                  // flex-wrap: wrap;

                  .input-auth {
                    height: 40px;
                    text-align: center;
                    margin: 0 0 50px 0;
                    padding: 0 0 0 0;
                  }

                  #login_email,
                  #login_username,
                  #login_firstname {
                    // margin-top: 100px;
                    // background-color: aqua;
                  }
                  #login_password {
                    // background-color: aquamarine;
                  }
                  #login_submit,
                  #login_signup {
                    background-color: darkgrey;
                    margin-bottom: 25px;
                    height: 50px;
                    border-radius: 6px;
                  }
                  h6 {
                    text-align: center;
                    font-size: 14px;
                    // border: 1px solid black;
                  }
                }
              }
            }
          }
        }
      } //closing home

      .dashboard {
        // background-color: green;
      }
    } //closing .APP
  } //closing body
} //closing html
