@use './scss/' as *;

html {
//   background-color: lightgrey; //100% verticle view

  body {
    // background-color: blue;

    .App {
      // background-color: blue;
      width: 100%;
      height: 100vh;
      .navbar {
        background-color: orange;
      }

      .dashboard {
        // background-color: green;
      }
    } //closing .APP
  } //closing body
} //closing html
