/*#region font*/
h1, h2, h3, h4, h5, h6 {

    font-family: Arial, Helvetica, sans-serif;

}




/*#endregion font*/

/*#region Variables*/
$blackcolor: #1c0a00;
$whitecolor: #ffebe4;

$primarylight: #40B159;
$primarylightmed: #1EA43C;
$primarymed: #0D8628; /* primary */
$primarydarkmed: #006C18;
$primarydark: #004C11;

$secondarylight: #EA6254;
$secondarylightmed: #D93827;
$secondarymed: #B12011; /* secondary */
$secondarydarkmed: #8F0E00;
$secondarydark: #650A00;

$tertiarylight: #db9fcf;
$tertiarylightmed: #9C1C84;
$tertiarymed: #993386; /* tertiary */
$tertiarydarkmed: #670053;
$tertiarydark: #48003A;

$quarternarylight: #eebf78;
$quarternarylightmed: #d89638;
$quarternarymed: #B17011; /* quarternary */
$quarternarydarkmed: #3e0022;
$quarternarydark: #210600;
/*#region mixins*/


/*#endregion mixins*/
@mixin light-on-dark-1 {
    color: $whitecolor;
    background-color: $blackcolor;
      }
  
  @mixin light-on-dark-purple {
      color: $primarylight;
      background-color: $blackcolor;
      }
  
  @mixin light-on-dark-gold {
      color: $secondarylight;
      background-color: $secondarydark;
      }
  
  @mixin light-on-dark-magenta {
      color: $tertiarylight;
      background-color: $tertiarydark;
      }
  
  @mixin light-on-dark-lime {
      color: $quarternarylight;
      background-color: $quarternarydark;
      }
  
  @mixin dark-on-light {
    color: $whitecolor;
    background-color: $blackcolor;
      }
  
  @mixin dark-on-light-purple {
      color: $primarydark;
      background-color: $primarylight;
      }
  
  @mixin dark-on-light-gold {
      color: $secondarydark;
      background-color: $secondarylight;
      }
  
  @mixin dark-on-light-magenta {
      color: $tertiarydark;
      background-color: $tertiarylight;
      }
  
  @mixin dark-on-light-lime {
      color: $quarternarydark;
      background-color: $quarternarylight;
      }


/*#endregion Variables*/