@use "../../scss/" as *;

      .splash {
        //home is the splash page//
        // background-color: red;
        height: 100%;

        .splash_title_div {
          // background-color: gold;
          display: flex;
          height: 15%;
          width: 100%;

          .splash_title {
            // background-color: aqua;
            height: 100%;
            width: 50%;
            padding-top: 3%;
            h1 {
              font-size: 34px;
              padding-left: 10%;
            }
          }

          .splash_nav {
            display: flex;
            justify-content: space-around;
            margin-left: auto;
            margin-right: 8%;
            padding-top: 3%;
            .splah_nav_link {
              margin: 0 20px;
              // border: 1px solid black;
            }
          }
        } // closing splash_title_div

        &__title-container {
          margin: 0 auto;
          width: 45rem;
          height: 50%;
          margin-top: -6rem;
        }

        &__title {
          text-align: center;
          font-size: 3.25rem;
        }

        

        .splash_main_div {
          // background-color: lime;
          display: flex;
          width: 100%;
          height: 85%;

          .splash_main_left {
            // background-color: red;
            width: 50%;

            h1 {
              margin: 40% 0;
              padding-left: 20%;
              text-align: left;
            }
          }

          .splash_main_right {
            // background-color: pink;
            padding: 40px;
            width: 50%;

          }
        }
      } //closing splash