@use '../../scss/' as *;

.dashboard {
  height: 100%;
  width: 95vw;

  &__summary {
    width: 100%;
    grid-template-columns: 1fr 1fr 0.5fr 0.5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 16px 16px;
    grid-template-areas:
      'one one one two two two two'
      'three three three two two two two'
      'four four four four four four four'
      'four four four four four four four';
  }

  &__savings {
    grid-area: one;
    background-color: rgba(66, 31, 121, 0.05);
    border-radius: get-spacing(4);
  }
  &__goals {
    grid-area: two;
    background-color: rgba(66, 31, 121, 0.05);
    border-radius: get-spacing(4);
  }
  &__expenses {
    grid-area: three;
    background-color: rgba(66, 31, 121, 0.05);
    border-radius: get-spacing(4);
  }
  &__barGraph {
    grid-area: four;
    background-color: rgba(66, 31, 121, 0.05);
    border-radius: get-spacing(4);
  }
}
