@use '../../scss/' as *;

.goals {
  &__content {
    height: 100vh;
    width: 95vw;

    @include flex(column, center, flex-start);
    gap: 1rem;
  }

  &__container {
    background-color: rgba(66, 31, 121, 0.05);
    border-radius: get-spacing(4);
    padding: get-spacing(8);
  }

  &__top {
    height: 60%;
    width: 95%;
  }

  &__bottom {
    height: 35%;
    width: 95%;
  }
}
