@use '../../scss/' as *;

.goals {
  position: relative;

  &__content {
    height: 100vh;
    width: 95vw;

    @include flex(column, center, flex-start);
    gap: 1rem;
  }

  &__container {
    background-color: rgba(66, 31, 121, 0.05);
    border-radius: get-spacing(4);
    padding: get-spacing(8);
  }

  &__top {
    height: 60%;
    width: 95%;
  }

  &__modal-btn-container {
    position: absolute;
    top: 15%;
    left: 9%;
    height: 150px;
    width: 300px;

    button {
      height: 100%;
      width: 100%;
      background: transparent;
      border: none;
      outline: none;
      display: block;
      cursor: pointer;
    }
  }

  &__bottom {
    height: 35%;
    width: 95%;
  }
}
