@use '../../../scss/' as *;

.authform {
  background-color: $background-blur3;
  margin: 0 auto;
  width: 33rem;
  // width: 95%;
  height: 44.5rem;
  border-radius: 20px;
  // border: 1px black solid;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  backdrop-filter: blur(122px);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: rgba(245, 245, 245, 0.85);

  &__switch {
    // border: 1px solid black;
    margin: 2rem auto;
  }

  &__switch-btn {
    color: blue;
    font-weight: bold;
    cursor: pointer;
  }

  .login_div {
    // background-color: green;
    width: 80%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    // border: 1px solid black;

    .login_header {
      // background-color: red;
      width: 100%;
      margin: 15% 0 0 0;
      padding: 0 0 20% 0;
      h3 {
        text-align: center;
        font-size: 34px;
      }
    }

    .login_form {
      // background-color: darkorange;
      margin: 0 auto 0 auto;
      // padding-top: 50px;
      width: 70%;
      height: 80%;
      display: flex;
      flex-direction: column;
      // top: 50px;
      // flex-wrap: wrap;

      .input-auth {
        height: 40px;
        text-align: center;
        margin: 0 0 2rem 0;
        padding: 0 0 0 0;
        border: solid 1px $gray2;
      }
    }
  }
}
