@use '../abstracts/' as *;

@import url('https://fonts.googleapis.com/css2?family=Hind&family=Mukta:wght@700&family=Roboto&display=swap');

/* 
font-family: 'Hind', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Roboto', sans-serif;
*/

$contentFont: 'Roboto', sans-serif;

html {
  font-family: $contentFont;
  font-size: 1rem;
  line-height: 1.25rem;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.text-thin {
  font-weight: lighter;
}

h1 {
  font-size: 6rem;
  font-weight: bold;
}

h2 {
  font-size: 3.75rem;
  font-weight: 500;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

h4 {
  font-size: 2.125rem;
  font-weight: 500;
}

h5 {
  font-size: 1.5rem;
  font-weight: 500;
}

h6 {
  font-size: 1.25rem;
  font-weight: 500;
}

subtitle {
  font-size: 0.875rem;
  line-height: 1.5rem;
}
